* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0d0d0d;
  color: white;
}

/* ===== NAVBAR ===== */
header {
  position: sticky;
  top: 0;
  background: #111;
  padding: 15px 40px;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: #a855f7;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #a855f7;
}

/* ===== HERO ===== */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
}

.hero span {
  color: #a855f7;
}

.hero h3 {
  color: #ccc;
}

.hero p {
  color: #bbb;
  max-width: 600px;
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  background: #a855f7;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #9333ea;
  transform: scale(1.05);
}

/* ===== SECTIONS ===== */
section {
  padding: 20px;
}

section h2 {
  text-align: center;
  margin: 20px 0;
  color: #a855f7;
}

/* ===== CARD (ALL SECTIONS SAME) ===== */
.card, .project-box {
  background: #1a1a1a;
  margin: 15px auto;
  padding: 20px;
  border-radius: 12px;
  max-width: 850px;
  transition: 0.3s;
  text-align: left;
}

/* Hover effect */
.card:hover, .project-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.4);
}

/* TEXT */
.card p, .project-box p {
  color: #d1d5db;
  margin-bottom: 8px;
  line-height: 1.6;
}

/* HEADINGS */
.card h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

/* PROJECT LIST */
.project-box ul {
  padding-left: 20px;
}

.project-box ul li {
  margin-bottom: 6px;
}

/* LINKS */
.card a {
  color: #a855f7;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 10px;
  background: #111;
  color: #888;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 2rem;
  }
}
